<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://files.puhuijinfu.com/imgLoader/phjf/img/2020/03/04/rLBLKH6YAaw78iyB14J5.jpeg" type="image/x-icon">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 加载icon上的字体图标 -->
    <link rel="stylesheet" type="text/css" href="./css/font.css">

    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/switch.css">

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./js/vue.min.js"></script>

    <!-- 引入最新版的jquery -->
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
    <!-- <script src="./css/bootstrap.min.js"></script> -->
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="./css/elementui.css">

    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <!-- 右键菜单 -->
    <!-- <link rel="stylesheet" href="../../context/css/style.css"> -->
    <!-- <link rel="stylesheet" href="../../context/css/nprogress.css"> -->
    <!-- <script src="../../context/js/index.js"></script> -->
    <!-- <script src="../../context/js/lantern.js"></script> -->
    <!-- <script src="../../context/js/nprogress.js"></script> -->
    <!-- <script src="../../context/js/object.js"></script> -->
    <!-- <script src="../../context/js/requestAnimate.js"></script> -->
    <!-- <script src="../../context/js/startMove.js"></script> -->
    <!-- <script src="../../context/js/tools.js"></script> -->
    <!-- <script src="../../context/js/tween.js"></script> -->
    <!-- <script src="../../context/js/velocity.min.js"></script> -->
    
    <!-- 引入弹出层组件库 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="./js/elementui.js"></script>

    <!-- 异步请求库 -->
    <script src="./js/axios.min.js"></script>
    
    <!-- qs.stringify()将对象序列化成URL的形式 -->
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    
    <!-- 引入翻书插件 -->
    <script src="./js/turn.min.js"></script>

    <!-- 引入二维码插件 -->
    <script src="./js/qrcode.min.js"></script>
</head>

<body >

<!-- 隐藏的book页数 -->
<input type="hidden" value="100" id="bookPage">

<!-- 隐藏的分享链接 -->
<input type="hidden" value="http://jindo.dev.naver.com/collie" id="shareLink">

<!-- 隐藏的音频播放标签 -->
<audio id="myAudio" loop>
  <source src="./js/horse.ogg" type="audio/ogg">
  <source src="./js/horse.mp3" type="audio/mpeg">
</audio>

<!-- 隐藏的在线客服的代码 -->
<input id="tawk" type="hidden" value="https://embed.tawk.to/5a811a074b401e45400cdcd8/default">

<div class="container-fluid" id="app">

    <!-- 左侧菜单栏区域 -->
    <div class="nav nav-pills nav-stacked sidebar" style="overflow: hidden;" v-if="!isMobile">
        <div class="menu-item" style="background-color: #F3F7Fa; color: #4493b1 ">
            <span >
                <span class="glyphicon glyphicon-menu-left" @click="goBack"></span>首页
            </span>
<!--             <el-button type="primary" slot="reference" @click="mainSave"> 
                      
            </el-button> -->
            <div class="button-save">
              <span @click="mainSave">{{ saveBtn }}</span> | <i class="el-icon-caret-bottom"  @click="toggleHiddenMenu"></i>
              <div class="button-save-hidden-menu" v-if="showHiddenMenu" id="setDefault">
                  <el-checkbox v-model="form.main" >设为默认</el-checkbox>
              </div>
            </div>
            <!-- <div class="btn-group"> -->
<!--                 <el-popover
                  placement="right"
                  width="100"
                  trigger="hover">
                  <div>
                      <el-checkbox v-model="form.main">设为默认</el-checkbox>
                  </div>
                   
                </el-popover> -->

        </div>
        <div style="height: 100vh; overflow-y: scroll;">
        <el-collapse accordion @change="clickControlCollapse">
          <el-collapse-item name="名字和描述">
            <template slot="title">
              <div style="padding-left: 10px">名字和描述</div>
            </template>

            <div role="presentation" class="menu-down show-menu" style="display: block;">

                <span style="margin-top: 15px;">书名</span>
                <input type="text" class="form-control" placeholder="Flipbook Name" v-model="form.title">
                <span style="margin-top: 15px;">描述</span>
                <!-- <textarea type="text"></textarea> -->
                 <textarea type="text" class="form-control" placeholder="Description" v-model="form.description"></textarea>
            </div>
             
          </el-collapse-item>
          <div class="menu-item" style="padding: 0 10px;border-bottom: 1px solid #EBEEF5">
            <div >皮肤</div>
            <div class="unActive-a flex" style="padding: 10px 17px">
                <span style="color: #999" @click="dialogSkin = true">White Style ···</span>
            </div>
          </div>
          <el-collapse-item name="品牌">
            <template slot="title">
              <div style="padding-left: 10px">品牌</div>
            </template>
            <li role="presentation" class="branding">
 <!--                <a href="#" class="unActive-a">
                    <span>品牌 <span class="glyphicon glyphicon-menu-down toggle-arrows toggle-arrows-change"></span></span>
                </a> -->

                <div role="presentation" class="menu-down show-menu" style="display: block;">
                    <div class="brand-col">
                        <span>Logo</span>
                        <button class="brand-btns logo" @click="dialogLogo = true">Custon ···</button>
                    </div>
                    <div class="brand-col">
                        <span>背景图</span>
                        <button class="brand-btns bg-image" @click="dialogBackground = true">Default ···</button>
                    </div>
                    <div class="brand-col">
                        <span>颜色</span>
                        <button class="brand-btns logo" slot="reference"  @click="dialogColor = true">Custon ···</button>
                    </div>
                    <div class="brand-col">
                        <span>icon</span>
                        <button class="brand-btns " @click="dialogFavicon = true">
                          <img :src="form.favico" v-if="form.favico" class="favicon">Default ···</button>
                    </div>
                </div>
            </li>

          </el-collapse-item>
          <el-collapse-item name="控制">
            <template slot="title">
              <div style="padding-left: 10px">控制</div>
            </template>
           <li role="presentation" class="controls">
                
                <div role="presentation" class="menu-down controls-menu show-menu" style="display: block;">
                    <div class="controls-col "  v-for="(item, index) in controls" :key="index" :class="item.bottomLine? 'bottom-line': ''" v-if="!item.hidden">
                        <div>
                           <span class="icon iconfont" :class="item.icon? item.icon : ''"></span>
                            <span>{{ item.title }}</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" v-model="form[item.label]">
                        </div>
                    </div>
                    <!--
                     <div class="controls-col "  >
                        <div>
                           <span class="icon iconfont" class="iconxiazai"></span>
                            <span>下载</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="form.download">
                        </div>
                    </div>

                    <div class="controls-col "  >
                        <div>
                           <span class="icon iconfont" class="iconxiazai"></span>
                            <span>Text Selection</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" >
                        </div>
                    </div>

                   <div class="controls-col bottom-line"  >
                        <div>
                           <span class="icon iconfont" class="iconview-thumbs"></span>
                            <span>缩略图</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" >
                        </div>
                    </div>

                   <div class="controls-col "  >
                        <div>
                           <span class="icon iconfont" class="iconmute-off"></span>
                            <span>声音</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="form.sound">
                        </div>
                    </div>


                   <div class="controls-col "  >
                        <div>
                           <span class="icon iconfont" class="iconfull-screen"></span>
                            <span>全屏</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" >
                        </div>
                    </div>

                   <div class="controls-col "  >
                        <div>
                           <span class="icon iconfont" class="iconzoom-in"></span>
                            <span>放大镜</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" >
                        </div>
                    </div>

                   <div class="controls-col bottom-line"  >
                        <div>
                           <span class="icon iconfont" class="iconsearch"></span>
                            <span>搜索</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="form.search">
                        </div>
                    </div> 
                  -->

                    <!-- 电话区域 -->
                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont icontelphone"></span>
                            <span>电话</span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="controls-col " :class="form.contactEnable? '':'bottom-line'">
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox"  v-model="form.contactEnable">
                        </div>
                    </div>
                    <div v-if="form.contactEnable" :class="form.contactEnable? 'bottom-line':''">
                          <div class="form-group" v-for="(item, index) in phone" :key="index">
                            <label for="exampleInputEmail1">{{ item.label }}</label>
                            <input class="form-control"  placeholder="" v-model="form.contactTel">
                          </div>         
                    </div>

                    <!--在线客服区域 -->
                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont iconchat"></span>
                            <span>在线客服</span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="controls-col " :class="form.chatEnable? '':'bottom-line'" >
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox"  v-model="form.chatEnable">
                        </div>
                    </div>
                    <div v-if="form.chatEnable" :class="form.chatEnable? 'bottom-line':''" >
                      <div class="form-group" v-for="(item, index) in staff" :key="index">
                        <label for="exampleInputEmail1">{{ item.label }}</label>
                        <input  class="form-control"  placeholder="" v-model="form.chat">
                      </div>        
                    </div>

                    <!-- 邮件区域 -->
                    <div class="controls-col" >
                        <div>
                            <span class="icon iconfont iconEMAIL"></span>
                            <span>邮件</span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="controls-col" :class="form.emailEnable ? '':'bottom-line'">
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox"  v-model="form.emailEnable">
                        </div>
                    </div>
                    <div v-if="form.emailEnable" :class="form.emailEnable ? 'bottom-line':''">
                          <div class="form-group" v-for="(item, index) in email" :key="index">
                            <label for="exampleInputEmail1">{{ item.label }}</label>
                            <input type="email" class="form-control"  placeholder="" v-model="form[item.value]">
                          </div>
                    </div>                

                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont" ></span>
                            <span>Default Navigation</span>
                        </div>
                         <el-popover
                          placement="right"
                          width="200"
                          trigger="click">
                          <div>
                             <p class="el-popover_item" style="line-height: 30px;" @click="navigationSetting(item)" v-for="(item, index) in navigationArr" :key="index" v-if="!item.hidden">{{ item.value }}</p>
                          </div>
                          <button slot="reference" class="brand-btns">{{ navigationArr[form.navigation].value }}</button>
                        </el-popover>
                        
                    </div>
                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont" ></span>
                            <span>Contacts Button</span>
                        </div>
                        <button class="brand-btns" @click="dialogButton = true">Default ···</button>
                    </div>
                </div>
            </li>
          </el-collapse-item>
          <el-collapse-item name="密码">
            <template slot="title">
              <div style="padding-left: 10px">密码</div>
            </template>
            <li role="presentation" class="password">
<!--                 <a href="#" class="unActive-a"><span>密码 <span class="glyphicon glyphicon-menu-down toggle-arrows toggle-arrows-change"></span></span></a> -->
                <div role="presentation" class="menu-down password-menu show-menu" style="display: block;">

                    <div class="controls-col" :class="form.passwordEnable ? '':'bottom-line'">
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="form.passwordEnable">
                        </div>
                    </div>


                    <form v-if="form.passwordEnable">
                        <span style="margin-top: 15px;">设置密码</span>
                        <div>
                            <input type="text" class="form-control" placeholder="PASSWORD" aria-describedby="basic-addon1" v-model="form.password">
                        </div>                    
                    </form>
                    <div v-else style="color: #999">Set a password to share your flipbook width select viewers only.</div>
                    
                </div>
               </li>
             </el-collapse-item>
           </el-collapse>
           <div class="flex-column" style="padding: 10px">
             <div style=" display: inline-block; padding: 10px 14px; border: 1px solid #EBEEF5">添加视频及链接</div>
             <p style="line-height: 30px">添加视频及链接, 让您的电子书更吸引人。</p>
           </div>
       </div>
        <!-- <ul role="presentation"  style="flex-grow: 1;overflow-y: scroll; height: 100vh" > -->
            
            <!-- 名字和描述区域 -->
<!--             <li role="presentation" class="name-desc">

            </li>
            <li role="presentation" >
                <div class="unActive-a flex" style="padding: 10px 17px">
                    <span>皮肤 </span>
                    <span style="color: #999" @click="clickSelectSkin">White Style ···</span>
                </div>
            </li> -->

<!--             <li role="presentation" class="branding">
                <a href="#" class="unActive-a">
                    <span>品牌 <span class="glyphicon glyphicon-menu-down toggle-arrows toggle-arrows-change"></span></span>
                </a>

                <div role="presentation" class="menu-down show-menu" style="display: block;">
                    <div class="brand-col">
                        <span>Logo</span>
                        <button class="brand-btns logo" @click="handleLogoDialog">Custon ···</button>
                    </div>
                    <div class="brand-col">
                        <span>背景图</span>
                        <button class="brand-btns bg-image" @click="dialogBackground = true">Default ···</button>
                    </div>
                    <div class="brand-col">
                        <span>颜色</span>
                        <el-color-picker v-model="form.color"></el-color-picker>
                    </div>
                    <div class="brand-col">
                        <span>icon</span>
                        <button class="brand-btns favicon" @click="dialogFavicon = true">Default ···</button>
                    </div>
                </div>
            </li> -->

 
<!--             <li role="presentation" class="password">
                <a href="#" class="unActive-a"><span>密码 <span class="glyphicon glyphicon-menu-down toggle-arrows toggle-arrows-change"></span></span></a>
                <div role="presentation" class="menu-down password-menu show-menu" style="display: block;">

                    <div class="controls-col" :class="setPassWord ? '':'bottom-line'">
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="setPassWord">
                        </div>
                    </div>


                    <form v-if="setPassWord">
                        <span style="margin-top: 15px;">设置密码</span>
                        <div>
                            <input type="text" class="form-control" placeholder="PASSWORD" aria-describedby="basic-addon1">
                        </div>                    
                    </form>
                    <div v-else style="color: #999">Set a password to share your flipbook width select viewers only.</div>
                    
                </div>
            </li> -->
        <!-- </ul> -->
    </div>
    
    <!-- 目录区 -->
    <ul class="nav nav-pills nav-stacked skinbar border-none" :class="toggleSkinClass(form.skin)" :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 0 ">
        <div>
          <div  class="menu-item"   :style="{backgroundColor: form.colorPanel}">
              <div>
                <span  class="icon iconfont iconcatalog"></span >目录
              </div>
               <i class="el-icon-close" @click="form.navigation = 2"></i>
          </div>
          <el-tree :data="treeData" @node-click="handleNodeClick"></el-tree>
        </div>
    </ul>


    <!-- 目录区 -->
    <ul class="nav nav-pills nav-stacked skinbar border-none" :class="toggleSkinClass(form.skin)" :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 1">
        <div>
            <div  class="menu-item"  :style="{backgroundColor: form.colorPanel}">
              <div>
                <span  class="icon iconfont iconview-thumbs"></span >缩略图
              </div>
               <i class="el-icon-close" @click="form.navigation = 2"></i>
            </div>
             <div  class="thum-item"  v-for="(item, index) in myList" @click="clickThumItem(item, index)" :key="index">
                <el-image :key="item" :src="item" fit="cover" lazy></el-image>  
                <p>第{{ index + 1 }}页</p>
            </div>
        </div>
    </ul>
    
    <!-- 主编辑区 -->
        <div class="main" :style="{backgroundImage: 'url(' + form.background + ')',  backgroundPosition: position}">
            <div class="header" :class="toggleSkinClass(form.skin)" >
                <form class="form-inline" style="text-align: center;">
                {{ form.title }} | 页  <input placeholder="" style="width: 40px;">  | /32
                </form>
            </div>
            <div style="flex-grow: 1" class="bookBox">
              <div id="flipbook">
                <div class="hard"> Turn.js </div>
                <div class="hard"></div>
                <div> Page 2 </div>
                <div> Page 2 </div>
                <div> Page 3 </div>
                <div> Page 4 </div>
                <div> Page 5 </div>
                <div> Page 6 </div>
                <div class="hard"></div>
                <div class="hard"></div>
              </div>
            </div>
            <div class="page-footer" :class="toggleSkinClass(form.skin)" >
                <span v-for="(item, index) in icons" :key="index"  class="icon iconfont" :class="setIconClass(item)"   style="padding: 0 4px; height: 20px;" @click="clickIcon(item)" v-if="!item.hiddenBottom"></span >
            </div>    
            <img :src="form.logo" class="logo">   
            <div class="active-password" v-if="form.passwordEnable && currentCollapse == '密码'">
              <div class="content">
                <p style="color: #FFF;margin:20px 0;">{{ form.title }}</p>
                <img src="https://book-upload-1251142715.cos.ap-shanghai.myqcloud.com/113425e3-35fc-4ebc-a399-927d32683391/1.jpg" style="width: 200px; height: auto;">
                <p style="color: #FFF;margin:20px 0;">该文档为非公开文档，请输入密码打开</p>
                <div style="display: flex;position: relative;">
                    <input type="password" placeholder="" v-model="inputPassword">
                    <el-button type="primary" @click="sendPassword" style="margin-left: -4px">确定</el-button>
                </div>
              </div>
              
            </div>
        </div>



    <!-- 右侧搜索区 -->
    <ul class="search-box" :class="toggleSkinClass(form.skin)"  :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 3">
        <div  class="menu-item" :style="{backgroundColor: form.colorPanel}">
          <div>
            <span  class="icon iconfont iconsearch"></span >搜索
          </div>
           <i class="el-icon-close" @click="form.navigation = 2"></i>
        </div>
        <div class="input-group" style="display: flex; padding: 4px;">
          <input type="text" style="height: 100%" class="form-control" placeholder="在此输入文本..." v-model="searchKey">
          <div style="width: 50px;display: flex;align-items: center;justify-content: center; background-color: #FFF;margin-left: 4px;">
            <span  class="icon iconfont iconsearch" ></span >
          </div>
        </div>
        <li class="text-list" >
            <p class="item" v-for="(item, index) in searchList" :key="index">
                第1页. www
            </p>
        </li>
        <!-- <li class="search-more" >xianshi</li> -->
    </ul>
    <div class="earch-box-small" v-else>
        <a class="earch-box-small-tip" :href="form.external" v-if="form.externalEnable">{{ form.externalText }}</a><i class="el-icon-search" @click="form.navigation = 3"></i>
    </div>

    <!-- 颜色选择器 -->
    <el-dialog
      title="SELECT COLORS"
      :visible.sync="dialogColor"
      width="30%">
        <div >
            <div v-for="(item, index) in colors" style="display: flex; align-items: center;" :key="index"> 
              <el-color-picker v-model="form[item.label]"></el-color-picker>
              <span style="padding-left: 10px">{{ item.label }}</span>
            </div>
        </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogColor = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogColor = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- skin皮肤选择器 -->
    <el-dialog
      title="选择皮肤"
      :visible.sync="dialogSkin"
      width="50%">
        <el-form v-if="form.background">
            <el-form-item label="Keep current background">
                <el-switch v-model="form.keepBackground"></el-switch>
            </el-form-item>
        </el-form>
        <div >
          <div style="display: inline-block; margin-bottom: 20px; margin-right: 20px" v-for="(item, index) in skins" :key="index" @click="clickSkinItem(index)" >
            <div :style="{backgroundColor: item.color}" style="height: 100px; width: 100px"></div>
            <p style="text-align: center;line-height: 20px;" ><span :class="item.index == form.skin ? 'skinTextChecked':''">{{ item.name }}</span></p>
          </div>
        </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogSkin = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogSkin = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- logo选择器 -->
    <el-dialog
      title="编辑logo"
      :visible.sync="dialogLogo"
      width="40%">
        <div class="mb20 upload-img">
           <img :src="form.logo" style="max-height:50px;max-width:250px;width: auto;height: auto;">
            <el-popover
              placement="right"
              width="200"
              trigger="click">
              <div>
                 <p @click="logoSetting" class="el-popover_item">Back to Default</p>
                 <p @click="logoSetting" class="el-popover_item">Remove</p>
              </div>
              <i slot="reference" class="el-icon-s-tools" style="position: absolute; "></i>
            </el-popover>
        </div>
        <!-- action="http://m.baige.me/api/book/saveSettingImage" -->
        <el-upload
          class="upload-demo"
          :http-request="uploadLogo"
          :show-file-list="false"
          action=""
          :limit="1" 
          :auto-upload="true"
          list-type="picture">
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
<!--         <div style="height: 20px;"></div>
        <el-input v-model="form.logoInput" placeholder="https://your-website.com"></el-input>
 -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogLogo = false">CANCEL</el-button>
        <el-button type="primary" @click="mainSave">OK</el-button>
      </span>
    </el-dialog>

    <!-- button选择器 -->
    <el-dialog
      title="EDIT BUTTON"
      :visible.sync="dialogButton"
      width="40%">

        <el-form ref="form" :model="form" >
            <el-form-item label="Show Contacts Button">
                <el-switch v-model="form.externalEnable"></el-switch>
            </el-form-item>
            <el-form-item label="Button Text">
                <el-input v-model="form.externalText" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="Web Address(URL)">
                <el-input v-model="form.external" placeholder="https://your-website.com"></el-input>
            </el-form-item>
        </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogButton = false">CANCEL</el-button>
        <el-button type="primary" @click="mainSave">OK</el-button>
      </span>
    </el-dialog>

    <!-- favicon选择器 -->
    <el-dialog
      title="EDIT FAVICON"
      :visible.sync="dialogFavicon"
      width="40%">
        <div class="mb20 upload-img">
            <img :src="form.favico"  >
            <el-popover
              placement="right"
              width="200"
              trigger="click">
              <div>
                 <p @click="faviconSetting">Back to Default</p>
                 <p @click="faviconSetting">Remove</p>
              </div>
              <i slot="reference" class="el-icon-s-tools" ></i>
            </el-popover>
        </div>
        <el-upload
          class="upload-demo"
          :http-request="uploadFavicon"
          :show-file-list="false"
          action=""
          list-type="picture">
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
    
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFavicon = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogFavicon = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- 下载选择器 -->
    <el-dialog title="下载出版物" :visible.sync="dialogDownload">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont iconxiazai" ></span>
        <span class="title-text">下载出版物</span>
        <div class="button-right">
          <span class="title-close" @click="dialogShare = false"></span>
        </div>
      </div>
      <div class="download">
          <div class="download-all">
            <img src="./css/pdf.webp" style="width: 50px; height: 50px;">
            <div class="desc">
                <p>全部出版物 37.8M</p> 
                <a download href="http://book.baige.me/download?bookId=2&page=">下载刊物为PDF文件</a> 
            </div>
          </div>
          <div class="download-current">
              <a download href="http://book.baige.me/download?bookId=2&page=1">当前页面(5.2M)</a> 
          </div>
      </div>
    </el-dialog>

    <!--分享对话框 -->
    <el-dialog title="分享" :visible.sync="dialogShare">
        <div slot="title" class="dialog-title">
          <span class="icon iconfont iconfenxiang2" ></span>
          <span class="title-text">分享</span>
          <div class="button-right">
            <span class="title-close" @click="dialogShare = false"></span>
          </div>
        </div>
      <div style="display: flex;">
        <div id="qrcode" style="padding-right: 10px"></div>
        <div >
          <el-input v-model="shareLink" ></el-input>
          <el-button type="primary"  @click="copy(share.link)" style="float: right; margin-top: 10px;">复制</el-button>
        </div>
      </div>
    </el-dialog>


    <!--发送邮件对话框 -->
    <el-dialog title="邮件" :visible.sync="dialogEmail">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont iconEMAIL" ></span>
        <span class="title-text">邮件</span>
        <div class="button-right">
          <span class="title-close" @click="dialogShare = false"></span>
        </div>
      </div>
      <div style="display: flex;">
        <el-input  placeholder="发送至邮箱" v-model="inputEmail"></el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary"  @click="sendEmail">确定</el-button>
      </span>
    </el-dialog>
    
    <!-- 电话对话框 -->
    <el-dialog title="电话" :visible.sync="dialogContactTel">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont icontelphone" ></span>
        <span class="title-text">电话</span>
        <div class="button-right">
          <span class="title-close" @click="dialogShare = false"></span>
        </div>
      </div>
      <div style="text-align: center;">
        电话号码:{{ form.contactTel }}
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary"  @click="dialogContactTel = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 背景选择器 -->
    <el-dialog title="EDIT BACKGROUND" :visible.sync="dialogBackground" width="40%">
        <div  class="mb20 upload-img">
            <el-upload
              class="avatar-uploader"
              :http-request="uploadBackground"
              action=""
              :show-file-list="false">
              <img  :src="form.background" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>            
        </div>
        <el-form label-width="140px" ref="form" :model="form">

          <el-form-item
            label="Image Placement"
          >
            <el-select v-model="form.backgroundPlace" placeholder="请选择">
            <el-option
              v-for="(item, index) in background.placement"
              :key="index"
              :label="item"
              :value="index">
            </el-option>
          </el-select>
          </el-form-item>
          <el-form-item
            label="Filling Form"
          >
            <el-popover
              placement="right"
              width="180"
              trigger="click">
              <div  class="rank">
                  <span class="rank-item" :class="item.checked ? 'rank-item-checked':''" v-for="(item, index) in rank" @click="clickRank(item)" :key="index">
                    <i :class="item.icon ? item.icon : ''"></i>
                  </span>
              </div>
              <!-- <el-select  v-model="form.background.filling" placeholder="请选择"> -->
              <el-input slot="reference" v-model="backgroundFill" ></el-input>
            </el-popover>
          </el-form-item>
        </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogBackground = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogBackground = false">OK</el-button>
      </span>
    </el-dialog>

</div>
</body>
<script type="text/javascript">

// 接管双向数据绑定
var app = new Vue({
  el: '#app',
  //定义私用局部过滤器。只能在当前 vue 对象中使用
  filters: {
      dataFormat(msg) {
          return msg+'xxxxx';
      }
  },
  data: {
    showHiddenMenu: false, // 隐藏的菜单
    currentCollapse: '', // 当前展开的菜单
    showPassWordBox: false, // 显示密码框遮盖
    inputPassword: '', // 输入验证的密码
    inputEmail: '', // 输入发送的邮件地址
    currentScreen: '', // 当前屏幕状态
    qrcodeInstance: null, // 二维码实例
    shareLink: '', // 分享的链接
    searchKey: '', // 搜索用关键词
    myList: [],
    visible: false,
    treeData: [{
      label: '一级 1',
      children: [{
        label: '二级 1-1',
        children: [{
          label: '三级 1-1-1'
        }]
      }]
    }, {
      label: '一级 2',
      children: [{
        label: '二级 2-1',
        children: [{
          label: '三级 2-1-1'
        }]
      }, {
        label: '二级 2-2',
        children: [{
          label: '三级 2-2-1'
        }]
      }]
    }, {
      label: '一级 3',
      children: [{
        label: '二级 3-1',
        children: [{
          label: '三级 3-1-1'
        }]
      }, {
        label: '二级 3-2',
        children: [{
          label: '三级 3-2-1'
        }]
      }]
    }],
    rank: [
      {icon: 'el-icon-top-left', checked: false, label: '左上'},
      {icon: 'el-icon-top', checked: false, label: '上'},
      {icon: 'el-icon-top-right', checked: false, label: '右上'},
      {icon: 'el-icon-back', checked: false, label: '左'},
      {icon: 'el-icon-rank', checked: false, label: '中心'},
      {icon: 'el-icon-right', checked: false, label: '右'},
      {icon: 'el-icon-bottom-left', checked: false, label: '左下'},
      {icon: 'el-icon-bottom', checked: false, label: '下'},
      {icon: 'el-icon-bottom-right', checked: false, label: '右下'}
    ],
    skins: [
      {index: 0, name: '灰白色', color: '#EFEFEF', checked: false},
      {index: 1, name: '深灰色', color: '#333333', checked: false},
    ],
    colors: [
      {label: 'colorPanel'},
      {label: 'colorBackground'},
      {label: 'colorLink'},
    ],
    navigationArr: [
      {index: 0, value: '目录', checked: false, hidden: false},
      {index: 1, value: '缩略图', checked: false, hidden: false},
      {index: 2, value: '无', checked: false, hidden: false},
      {index: 3, value: '搜索', checked: false, hidden: false}
    ],
    showMenu: true,
    fileList: [],
    searchKey: '',
    searchDialog: false,
    setPassWord: false,
    setPhone: false,
    setStaff: false,
    setEmail: false,
    dialogSkin: false,
    dialogLogo: false,
    dialogBackground: false,
    dialogFavicon: false,
    dialogButton: false,
    dialogShare: false,
    dialogDownload: false,
    dialogEmail: false,
    dialogColor: false,
    dialogContactTel: false,
    saveBtn: '保存',
    color: '#EEE',
    
    form: {
      "bookId": 1,
      "main": true,
      "skin": "2",
      "background": "1",
      backgroundFill: 1,
      "backgroundPlace": 1,
      colorPanel: '#EEE',
      colorBackground: '#EEE',
      colorLink: '#EEE',
      "external": "1",
      "externalText": "1",
      "externalEnable": false,
      keepBackground: false,
      download: false,
      share: false,
      sound: false,
      search: false,
      navigation: 0,
      zoom: false,
      thumbnail: false,
      textSelect: false,
      fullScreen: false,
      userId: 1,
      title: '',
      description: '',
      placement: 'fill',
      logo: '',
      favico: '',
      chatEnable: false,
      chat: '',
      contactTel: '',
      contactEnable: false,
      emailEnable: false,
      emailWelcome: "1",
      emailPort: 1,
      emailServer: "1",
      emailUsername: "1",
      emailPassword: "1",
      emailSign: "1",
      password: '',
      passwordEnable: false,
      skin: 0,
    },
    background: {
      url:'',
      placement:['Fit','Fill','Tile'],
      filling: 'center'
    },
    share: {
      link: 'baidu.com',
      qrcode: 'https://efile.kaoyan.com/img/2020/05/25/193611_5ecbadab863ec.png'
    },
    button: {
      delivery: '',
      text: '',
      address: ''
    },
    info: [
      {label: 'name', value: ''},
      {label: 'desc', value: ''},
    ],
    staff: [
      {label: '客服widget', value: ''},
    ],
    phone: [
      {label: '号码', value: ''},
    ],
    email: [
      {label: '服务器', value: 'emailServer'},
      {label: '端口', value: 'emailPort'},
      {label: '密码', value: 'emailPassword'},
      {label: '账户', value: 'emailUsername'},
      {label: '欢迎词', value: 'emailWelcome'},
      {label: '签名', value: 'emailSign'}
    ],
    message: 'Hello Vue!',
    controls: [
      {'group':1,'label': 'share', 'title': '分享', 'icon': 'iconfenxiang2', 'checked': false},
      {'group':1,'label': 'download','title': '下载', 'icon': 'iconxiazai', 'checked': false},
      // {'group':1,'label': 'textSelect','title': 'Text Selection', 'icon': 'icontext_tool', 'checked': false},
      {'group':1,'label': 'thumbnail','title': '缩略图', 'icon': 'iconview-thumbs', 'checked': false},
      {'group':1,'label': 'thumbnail','title': '目录', 'icon': 'iconcatalog', 'checked': false, 'bottomLine': true},
      {'group':2,'label': 'sound','title': '声音', 'icon': 'iconmute-off', 'checked': false},
      {'group':2,'label': 'fullScreen','title': '全屏', 'icon': 'iconfull-screen', 'checked': false},
      {'group':2,'label': 'zoom','title': '放大镜', 'icon': 'iconzoom-in', 'checked': false},
      {'group':2,'label': 'search','title': '搜索', 'icon': 'iconsearch', 'checked': false, 'bottomLine': true, hiddenBottom: true},
      {'group':3,'label': 'contactEnable','title': '电话', 'icon': 'icontelphone', 'checked': false, hidden: true},
      {'group':4,'label': 'chatEnable','title': '在线客服', 'icon': 'iconchat', 'checked': false, hidden: true, hiddenBottom: true},
      {'group':5,'label': 'emailEnable','title': '邮件', 'icon': 'iconEMAIL', 'checked': false, hidden: true}
    ],
    treeData: [{
      label: '一级 1',
      children: [{
        label: '二级 1-1',
        children: [{
          label: '三级 1-1-1'
        }]
      }]
    }, {
      label: '一级 2',
      children: [{
        label: '二级 2-1',
        children: [{
          label: '三级 2-1-1'
        }]
      }, {
        label: '二级 2-2',
        children: [{
          label: '三级 2-2-1'
        }]
      }]
    }, {
      label: '一级 3',
      children: [{
        label: '二级 3-1',
        children: [{
          label: '三级 3-1-1'
        }]
      }, {
        label: '二级 3-2',
        children: [{
          label: '三级 3-2-1'
        }]
      }]
    }],
    searchList: [] 
  },
  computed: {
    // https://www.w3school.com.cn/cssref/pr_background-position.asp
    position() {
      let position = [
          'top left',
          'top center',
          'top right',
          'center left',
          'center center',
          'center right',
          'bottom left',
          'bottom center',
          'bottom right'
      ]
      return position[this.form.backgroundFill]
    },
    // 判断是什么设备
    isMobile() {
      let flag = navigator.userAgent.match(/(phone|pod|iPhone|iPod|ios|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i);
      return flag;
    },
    backgroundFill: {
      get: function () {
        return this.rank[this.form.backgroundFill].label
      },
      set: function (value) {
        this.form.backgroundFill = value
      }
    },  
    icons: function () {
      // 把form和controls关联
      this.controls = this.controls.map(item => {
        console.log(item.checked, this.form[item.label])
        item.checked = this.form[item.label]
        return item
      })

      // 过滤被选中的control
      let arr = this.controls.filter(item => item.checked )
      console.log(arr)

      // 根据group来计算分割线
      arr.map((item, index) => {
        console.log(item.group, index)
        if (index < arr.length-1 ) {
            if (item.group != arr[index + 1].group) {
              item.rightLine = true   
            } else {
              item.rightLine = false 
            } 
        }
        return item
      })
    
      // 最有一个icon的右侧不能有分隔符号
      if (arr.length > 0) {
        arr[arr.length-1].rightLine = false
      }
      console.log(arr)
      return arr
    }
  },  
  watch: {
      // controls: {
      //   handler: function(val, oldval) {
      //     console.log(val)
      //   }
      // },
      form:{
        handler:function(val,oldval){
          console.log(val)
          this.saveBtn = '保存'
          if (val.search) {
            this.navigationArr = this.navigationArr.map(item => {
              if (item.value == '搜索') {
                item.hidden = false
              }
              return item
            })
          } else {
            this.navigationArr = this.navigationArr.map(item => {
              if (item.value == '搜索') {
                item.hidden = true
              }
              return item
            })            
          }
        },
        deep:true//对象内部的属性监听，也叫深度监听
      },
  } ,  
  mounted() {   
     let data = {bookId:  2 }
     axios.get('/api/getFlipbook', {
      params: data
     }).then(res => {
      console.log(res)
      Object.assign(this.form, res.data)
     })
     axios.get('/api/book/getMainSetting', {
       params: data
     }).then(res => {
      console.log(res)       
      let icon = res. favico
      Object.assign(this.form, res.data)
      this.initThumbnail()

      this.setIcon(res.data.favico)
     })  
     this.initBook()
  },

  methods: {
    initThumbnail() {
      for (var i = 0; i < 100; i++) {
        this.myList.push(`https://book-upload-1251142715.cos.ap-shanghai.myqcloud.com/113425e3-35fc-4ebc-a399-927d32683391/${i + 1}.jpg`
        )
      } 
    },
    getUrlParam: function(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]);
        return '';
    },
    handleLogoChange (file) {
        const formData = new FormData()
        this.formData.file = file.raw
        this.formData.name = file.name
        // upload(formData) //调用上传方法,传递FormData格式的参数
        this.fileChange = false      
    },
    uploadBackground(files) {
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('/api/book/saveSettingImage', formData).then(res => {
          console.log(res)
          this.form.background = res.data
        })      
    },
    uploadFavicon(files) {
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('/api/book/saveSettingImage', formData).then(res => {
          this.setIcon(res.data)
          this.form.favico = res.data
        })
    },
    setIcon(icon_url) {
      var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = icon_url;
      document.getElementsByTagName('head')[0].appendChild(link);
    },
    uploadLogo (files) {
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('/api/book/saveSettingImage', formData).then(res => {
          this.form.logo = res.data
        })
    },
    handleLogoSuccess (res, file) {
      console.log(res)
    },
    handleNodeClick (item) {
      console.log(item)
      this.$message({
        message: `你点击了目录：${item.label}`,
        type: 'success'
      }); 
    },
    toggleMenu () {
      this.menu.toggleMenu = !this.menu.toggleMenu
    },
    copy () {
        this.$message({
          message: '复制成功',
          type: 'success'
        }); 
    },
    clickRank (item) {
      this.rank = this.rank.map((i, index) => {
        if (i.icon == item.icon) {
            i.checked = true
            this.form.backgroundFill = index
        } else {
            i.checked = false
        }
        return i
      })
      console.log(this.rank)
    },
    logoSetting () {
      this.form.logo = ''
    },
    navigationSetting (obj) {
      console.log(obj)
      this.navigationArr = this.navigationArr.map(item => {
         if (item.value == obj.value) {
            item.checked = true
            this.form.navigation = item.index
         } else {
            item.checked = false
         }
         return item
      })
    },
    faviconSetting () {
        this.form.favico = ''
        console.log(this.form.favico)
    },
    handleRemove(file, fileList) {
        console.log(file, fileList);
    },
    handlePreview(file) {
        console.log(file);
    },

    clickSkinItem (index) {
      this.form.skin = index
    },
    clickSelectSkin () {
        this.dialogSkin = true
    },
    handleLogoDialog () {
        this.dialogLogo = !this.dialogLogo
    },
    clickIcon (item) {
        console.log(item)
        if (item.title == '下载') {
            this.dialogDownload = true              
        } else if (item.title == '分享') {
          this.dialogShare = true
          this.$nextTick(() => {
            this.qrcode()
          })
        } else if (item.title == '缩略图') {
          if (this.form.navigation == 2) {
            this.form.navigation = 1
          } else {
            this.form.navigation = 2
          }
        } else if (item.title == '目录') {
          if (this.form.navigation == 2) {
            this.form.navigation = 0
          } else {
            this.form.navigation = 2
          }
        } else if (item.title == '声音') {
          this.audioControl()
        } else if (item.title == '全屏') {
          this.sceenControl()
        } else if (item.title == '搜索') {
          if (this.form.navigation == 3) {
            this.form.navigation = 2
          } else {
            this.form.navigation = 3
          }
        } else if (item.title == '在线客服') {
          this.clickStaff()
        } else if (item.title == '电话') {
            this.dialogContactTel = true
        } else if (item.title == '邮件') {
            this.dialogEmail = true
        } else{
            this.$alert(`你点击了${item.title}按钮`, '提示', {
              confirmButtonText: '确定'
            });
        }
    },
    qrcode() {
      let text = document.getElementById("shareLink").value
      this.shareLink = text
      if (this.qrcodeInstance) {
        return false
      } else {
        this.qrcodeInstance = new QRCode(document.getElementById("qrcode"), {
          text: text,
          width: 128,
          height: 128,
          colorDark : "#000000",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.H
        });
      }
    },
    setIconClass (item) {
      if (item.rightLine) {
        return 'right-line ' + item.icon
      } else {
        return item.icon
      }
    },

    // 保存修改
    mainSave () {

      axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
      axios.post('/api/book/saveSetting', Qs.stringify(this.form)).then(res => {
      // api.saveSetting(Qs.stringify(this.form)).then(res => {
        console.log(res)
        this.saveBtn = '已保存'
        this.dialogLogo = false
        this.dialogFavicon = false
        this.dialogBackground = false
        this.dialogButton = false
        this.dialogBackground = false 
      }).catch((error) => {
        this.$message({
          type: 'error',
          message: error
        });
      });  
    },
    goBack () {
      if (this.saveBtn == '保存') {
        this.$confirm('你的修改不会被保存, 是否继续?', '提示', {
          confirmButtonText: '继续',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          window.history.back(-1); 
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });          
        });
      } else {
        
      }
      
    },
    beforeunloadHandler(e) {
      e = e || window.event;
      if (e) {
        e.returnValue = "您是否确认离开此页面-您输入的数据可能不会被保存";
      }
      return "您是否确认离开此页面-您输入的数据可能不会被保存";
    },
    clickTopButton (item) {
        console.log(item)
        this.$message({
          message: '你点击了' + item.title + '按钮',
          type: 'info'
        });             
    },

    download (src, fileName) {
      let x = new XMLHttpRequest();
      x.open("GET", src, true);
      x.responseType = 'blob';
      x.onload = function(e) {
        let url = window.URL.createObjectURL(x.response)
        let a = document.createElement('a');
        a.href = url
        a.download = fileName
        a.click()
      }
      x.send();
    },
    search () {
      if (this.searchKey) {
          this.$message({
            message: '搜索不到内容',
            type: 'warning'
          });
      } else {
          this.$message({
            message: '搜索内容不能为空',
            type: 'warning'
          });
      }
    },
    clickThumItem(item, index) {
      this.$message({
        message: `点击了${index + 1}页`,
        type: 'info'
      });      
    },
    toggleSearch() {
      console.log(this.form.navigation)
      this.form.navigation = 3
    },
    audioControl() {
     var audio = document.getElementById('myAudio');
      if(audio.paused)                     {                 
        audio.play(); //audio.play();// 这个就是播放  
      }else{
        audio.pause(); // 这个就是暂停
      }
    },
    sceenControl() {
      let element = document.documentElement
      if (this.currentScreen == 'full') {
        if(document.exitFullscreen) {
          document.exitFullscreen()
        } else if(document.mozCancelFullScreen) {
          document.mozCancelFullScreen()
        } else if(document.webkitExitFullscreen) {
          document.webkitExitFullscreen()
        }
        this.currentScreen = ''
      } else {
        if(element.requestFullscreen) {
          element.requestFullscreen()
        } else if(element.mozRequestFullScreen) {
          element.mozRequestFullScreen()
        } else if(element.webkitRequestFullscreen) {
          element.webkitRequestFullscreen()
        } else if(element.msRequestFullscreen) {
          element.msRequestFullscreen();
        }  
        this.currentScreen = 'full' 
      }   
    },
    clickStaff() {
        var code = $('#tawk').val();
        //console.log(" widget ...."+wdiget);
        if (code!='') {
         //console.log("display widget ....");
         var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
         (function() {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src =  code;
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
         })();
        }
    },
    // 发送邮件
    sendEmail() {
      let data = {
        'bookId': 2,
        'userId': '',
        'email': this.inputEmail
      }
      if (!this.inputEmail) {
        this.$message({
          message: `邮箱不合法`,
          type: 'error'
        });          
        return false
      }
      axios.post('/api/email', Qs.stringify(data)).then(res => {
        console.log(res)
      })
      this.dialogEmail = false
    },
    clickControlCollapse(activeNames) {
      console.log(activeNames)
      this.currentCollapse = activeNames
    },
    sendPassword () {
      // let data = {
      //   'bookId': 2,
      //   'password': this.inputPassword
      // }

      // axios.post('/api/password', Qs.stringify(data)).then(res => {
      //   console.log(res)
      //   this.showPassWordBox = false
      // }).catch(res => {
      //   this.showPassWordBox = false
      //   this.$message({
      //     message: res,
      //     type: 'error'
      //   });  
      // })      
    },
    toggleHiddenMenu() {
      this.showHiddenMenu =  !this.showHiddenMenu
      this.$nextTick(() => {
        document.addEventListener('mouseup',(e) =>{
          var _con = document.getElementById('setDefault')
          if(_con) {
            if(!_con.contains(e.target)) {
              this.showHiddenMenu = false
            }
          }
        })
      })
    },
    // 
    initBook () {
      $("#flipbook").turn({
        width: 400,
        height: 300,
        autoCenter: true
      });
    },
    toggleSkinClass(skin){
      return 'skin' + skin
    }
  }
})
</script>
<script type="text/javascript">
  
</script>
</html>