<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://files.puhuijinfu.com/imgLoader/phjf/img/2020/03/04/rLBLKH6YAaw78iyB14J5.jpeg" type="image/x-icon">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 引入最新版的jquery -->
    <script type="text/javascript" src="./js/jquery.min.js"></script>

    <!-- 加载icon上的字体图标 -->
    <link rel="stylesheet" type="text/css" href="./css/font.css">

    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/switch.css">

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="./js/vue.min.js"></script>

    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <!-- 右键菜单 -->
    <!-- <link rel="stylesheet" href="../../context/css/style.css"> -->
    <!-- <link rel="stylesheet" href="../../context/css/nprogress.css"> -->
    <!-- <script src="../../context/js/index.js"></script> -->
    <!-- <script src="../../context/js/lantern.js"></script> -->
    <!-- <script src="../../context/js/nprogress.js"></script> -->
    <!-- <script src="../../context/js/object.js"></script> -->
    <!-- <script src="../../context/js/requestAnimate.js"></script> -->
    <!-- <script src="../../context/js/startMove.js"></script> -->
    <!-- <script src="../../context/js/tools.js"></script> -->
    <!-- <script src="../../context/js/tween.js"></script> -->
    <!-- <script src="../../context/js/velocity.min.js"></script> -->
    
    <!-- 引入弹出层组件 -->
    <link rel="stylesheet" href="./css/elementui.css">
    <script src="./js/elementui.js"></script>

    <!-- 异步请求库 -->
    <script src="./js/axios.min.js"></script>
    
    <!-- qs.stringify()将对象序列化成URL的形式 -->
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    
    <!-- 引入翻书插件 -->
    <script src="./js/turn.min.js"></script>

    <!-- 引入二维码插件 -->
    <script src="./js/qrcode.min.js"></script>

    <!-- 引入颜色选择器插件 -->
    <script src="./js/colorpicker.js"></script>
</head>

<body >

<!-- 隐藏的book页数 -->
<input type="hidden" value="113302" id="bookId">

<input type="hidden" value="153e7360-7e08-4ff2-9a3b-c3e7320052f1" id="uploadId">

<!-- 隐藏的book页数 -->
<input type="hidden" value="100" id="bookPageNum">

<!-- 隐藏的分享链接 -->
<input type="hidden" value="http://jindo.dev.naver.com/collie" id="shareLink">

<!-- 隐藏的音频播放标签 -->
<audio id="myAudio" loop>
  <source src="./js/horse.ogg" type="audio/ogg">
  <source src="./js/horse.mp3" type="audio/mpeg">
</audio>

<!-- 隐藏的在线客服的代码 -->
<input id="tawk" type="hidden" value="https://embed.tawk.to/5a811a074b401e45400cdcd8/default">

<div class="container-fluid" id="app">

    <!-- 左侧菜单栏区域 -->
    <div class="nav nav-pills nav-stacked sidebar" style="overflow: hidden;" v-if="!isMobile">
        <div class="menu-item" style="background-color: #F3F7Fa; color: #4493b1 ">
            <span @click="goBack">
                <span class="glyphicon glyphicon-menu-left" ></span>首页
            </span>
            <div class="button-save">
              <span @click="mainSave">{{ saveBtn }}</span> | <i class="el-icon-caret-bottom"  @click="toggleHiddenMenu"></i>
              <div class="button-save-hidden-menu" v-if="showHiddenMenu" id="setDefault">
                  <el-checkbox v-model="form.main" >设为默认</el-checkbox>
              </div>
            </div>
        </div>
        <div style="height: 100vh; overflow-y: scroll;">
        <el-collapse accordion @change="clickControlCollapse">
          <el-collapse-item name="名字和描述">
            <template slot="title">
              <div style="padding-left: 10px">名字和描述</div>
            </template>

            <div role="presentation" class="menu-down show-menu" style="display: block;">

                <span style="margin-top: 15px;">书名</span>
                <input type="text" class="form-control" placeholder="Flipbook Name" v-model="form.title" @input="changeTitle(form.title)">
                <span style="margin-top: 15px;">描述</span>
                <!-- <textarea type="text"></textarea> -->
                 <textarea type="text" class="form-control" placeholder="Description" v-model="form.description"></textarea>
            </div>
             
          </el-collapse-item>
          <div class="menu-item" style="padding: 0 10px;border-bottom: 1px solid #EBEEF5">
            <div >皮肤</div>
            <div class="unActive-a flex" style="padding: 10px 17px">
                <span style="color: #999" @click="dialogSkin = true">{{ skins[form.skin].name }}</span>
            </div>
          </div>
          <el-collapse-item name="品牌">
            <template slot="title">
              <div style="padding-left: 10px">品牌</div>
            </template>
            <li role="presentation" class="branding">

                <div role="presentation" class="menu-down show-menu" style="display: block;">
                    <div class="brand-col">
                        <span>Logo</span>
                        <button class="brand-btns logo" @click="dialogLogo = true">Custon ···</button>
                    </div>
                    <div class="brand-col">
                        <span>背景图</span>
                        <button class="brand-btns bg-image" @click="dialogBackground = true">Default ···</button>
                    </div>
                    <div class="brand-col">
                        <span>颜色</span>
                        <button class="brand-btns logo" slot="reference"  @click="initColorSelect('colorPanel', form.colorPanel, 0)">Custon ···</button>
                    </div>
                    <div class="brand-col">
                        <span>icon</span>
                        <button class="brand-btns " @click="dialogFavicon = true">
                          <img :src="form.favico" v-if="form.favico" class="favicon">Default ···</button>
                    </div>
                </div>
            </li>

          </el-collapse-item>
          <el-collapse-item name="控制">
            <template slot="title">
              <div style="padding-left: 10px">控制</div>
            </template>
           <li role="presentation" class="controls">
                
                <div role="presentation" class="menu-down controls-menu show-menu" style="display: block;">
                    <div class="controls-col "  v-for="(item, index) in controls" :key="index" :class="item.bottomLine? 'bottom-line': ''" v-if="!item.hidden">
                        <div>
                           <span class="icon iconfont" :class="item.icon? item.icon : ''"></span>
                            <span>{{ item.title }}</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" v-model="form[item.label]">
                        </div>
                    </div>

                    <!--在线客服区域 -->
                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont iconchat"></span>
                            <span>在线客服</span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="controls-col " :class="form.chatEnable? '':'bottom-line'" >
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input @click="toggleChat" class="switch switch-anim" type="checkbox"  v-model="form.chatEnable">
                        </div>
                    </div>
                    <div v-if="form.chatEnable" :class="form.chatEnable? 'bottom-line':''" >
                      <div class="form-group" v-for="(item, index) in staff" :key="index">
                        <label for="exampleInputEmail1">{{ item.label }}</label>
                        <input  class="form-control"  placeholder="" v-model="form.chat">
                      </div>        
                    </div>

                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont" ></span>
                            <span>Default Navigation</span>
                        </div>
                         <el-popover
                          placement="right"
                          width="200"
                          trigger="click">
                          <div>
                             <p class="el-popover_item" style="line-height: 30px;" @click="navigationSetting(item)" v-for="(item, index) in navigationArr" :key="index" v-if="!item.hidden">{{ item.value }}</p>
                          </div>
                          <button slot="reference" class="brand-btns">{{ navigationArr[form.navigation].value }}</button>
                        </el-popover>
                        
                    </div>
                    <div class="controls-col" >
                        <div>
                           <span class="icon iconfont" ></span>
                            <span>Contacts Button</span>
                        </div>
                        <button class="brand-btns" @click="dialogButton = true">Default ···</button>
                    </div>
                </div>
            </li>
          </el-collapse-item>
          <el-collapse-item name="密码">
            <template slot="title">
              <div style="padding-left: 10px">密码</div>
            </template>
            <li role="presentation" class="password">
                <div role="presentation" class="menu-down password-menu show-menu" style="display: block;">

                    <div class="controls-col" :class="form.passwordEnable ? '':'bottom-line'">
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox" checked="" v-model="form.passwordEnable">
                        </div>
                    </div>


                    <form v-if="form.passwordEnable">
                        <span style="margin-top: 15px;">设置密码</span>
                        <div>
                            <input type="text" class="form-control" placeholder="PASSWORD" aria-describedby="basic-addon1" v-model="form.password">
                        </div>                    
                    </form>
                    <div v-else style="color: #999">Set a password to share your flipbook width select viewers only.</div>
                    
                </div>
               </li>
             </el-collapse-item>
            <el-collapse-item name="电话">
              <template slot="title">
                <div style="padding-left: 10px">电话</div>
              </template>
              <div class="controls-col menu-down " style="display: block;">
                  
                  <div class="controls-col" >
                    <div>
                      <span>Enable</span>
                    </div>
                      <div>
                        <input class="switch switch-anim" type="checkbox"  v-model="form.contactEnable">
                      </div>
                      
                  </div>
                  <form v-if="form.contactEnable" :class="form.contactEnable? 'bottom-line':''">
                    <span style="margin-top: 15px;">号码</span>
                    <div >
                      <input class="form-control"  placeholder="" v-model="form.contactTel">
                    </div>         
                  </form>
              </div>
              
            </el-collapse-item>

          <el-collapse-item name="邮件">
            <template slot="title">
              <div style="padding-left: 10px">邮件</div>
            </template>

                <div role="presentation" class="menu-down password-menu show-menu" style="display: block;">

                    <div class="controls-col" >
                        <div>
                            <span>Enable</span>
                        </div>
                        <div>
                            <input class="switch switch-anim" type="checkbox"  v-model="form.emailEnable">
                        </div>
                    </div>
                    <div v-if="form.emailEnable" :class="form.emailEnable ? 'bottom-line':''">
                          <div class="form-group" v-for="(item, index) in email" :key="index">
                            <label for="exampleInputEmail1">{{ item.label }}</label>
                            <input type="email" class="form-control"  placeholder="" v-model="form[item.value]">
                          </div>
                    </div> 
                    
                </div>
             </el-collapse-item>


           </el-collapse>

           <div class="flex-column" style="padding: 10px">
             <div style=" display: inline-block; padding: 10px 14px; border: 1px solid #EBEEF5">添加视频及链接</div>
             <p style="line-height: 30px">添加视频及链接, 让您的电子书更吸引人。</p>
           </div>
       </div>
    </div>
    
    <!-- 目录区 -->
    <ul class="nav-pills nav-stacked skinbar border-none" :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 0 " :class="changeBackGroundGrayClass(form.colorBackground)">
        <div >
          <div class="menu-item" :style="{backgroundColor: form.colorPanel}" :class="changeMenuGrayClass(form.colorPanel)">
              <div>
                <span  class="icon iconfont iconcatalog"></span >目录
              </div>
               <i class="el-icon-close" @click="form.navigation = 2"></i>
          </div>
          <el-tree :highlight-current="false" :data="catalog" @node-click="handleNodeClick"></el-tree>
        </div>
        <div @click="form.navigation = 2" class="nav-cancel" v-if="isMobile" :style="{backgroundColor: form.colorBackground}">取消</div>
    </ul>


    <!-- 缩略图区 -->
    <ul class="nav-pills nav-stacked skinbar border-none"  :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 1" :class="changeBackGroundGrayClass(form.colorBackground)">
        <div>
            <div  class="menu-item"  :style="{backgroundColor: form.colorPanel}"  :class="changeMenuGrayClass(form.colorPanel)">
              <div>
                <span  class="icon iconfont iconview-thumbs"></span >缩略图
              </div>
               <i class="el-icon-close" @click="form.navigation = 2"></i>
            </div>
            <div :class="isMobile?'thum-mobile':'thum'">
               <div  class="thum-item"  v-for="(item, index) in myList" @click="clickThumItem(item, index)" :key="index">
                  <el-image :key="item" :src="item" fit="cover" lazy></el-image>  
                  <p>第{{ index + 1 }}页</p>
              </div>              
            </div>
        </div>
        <div @click="form.navigation = 2" class="nav-cancel" v-if="isMobile" :style="{backgroundColor: form.colorBackground}">取消</div>
    </ul>
    
    <!-- 主编辑区 -->
        <div class="main" :class="setMainBackground">
            <div class="main-bk" :style="{backgroundImage: 'url(' + form.background + ')',  backgroundPosition: position, backgroundRepeat: backgroundRepeat, backgroundSize: backgroundSize}" v-if="form.keepBackground"></div>

            <div v-if="isMobile" class="header-mobile" >
              <div>1/{{ bookPageNum }}</div>
              <div class="earch-box-small">
                <div >
                  <a class="earch-box-small-tip" :href="form.external" v-if="form.externalEnable">{{ form.externalText }}</a>
                </div>
              </div>
            </div>
            <div class="header" :class="toggleSkinClass(form.skin)" v-else>
                <span class="name" style="">{{ form.title }} </span>
                <span style="display: inline-block;padding: 0 4px;"> | 页: </span>
                <input placeholder="" style="width: 40px;"> 
                <span> /{{ bookPageNum }}</span>
            </div>
            <div style="flex-grow: 1" class="bookBox">
              <div id="flipbook">
              </div>
            </div>
            <div :class="isMobile?'page-footer-mobile':'page-footer'" :class="toggleSkinClass(form.skin)" >
                <span v-for="(item, index) in icons" :key="index"  class="icon iconfont" :class="setIconClass(item)"   style="padding: 0 4px; height: 20px;" @click="clickIcon(item)" v-if="!item.hiddenBottom"></span >
            </div>    
            <img :src="form.logo" class="logo" v-if="!isMobile">  

            <div class="active-password" v-if="(form.passwordEnable && currentCollapse == '密码') || (form.passwordEnable && isMobile)">
              <div class="content">
                <p style="color: #FFF;margin:20px 0;">{{ form.title }}</p>
                <img src="https://book-upload-1251142715.cos.ap-shanghai.myqcloud.com/113425e3-35fc-4ebc-a399-927d32683391/1.jpg" style="width: 200px; height: auto;">
                <p style="color: #FFF;margin:20px 0;">该文档为非公开文档，请输入密码打开</p>
                <div style="display: flex;position: relative;">
                    <input type="password" placeholder="" v-model="inputPassword">
                    <el-button type="primary" @click="sendPassword" style="margin-left: -4px">确定</el-button>
                </div>
              </div>
              
            </div>
        </div>



    <!-- 右侧搜索区 -->
    <ul class="nav-pills nav-stacked skinbar border-none"  :style="{backgroundColor: form.colorBackground}" v-if="form.navigation == 3" :class="changeBackGroundGrayClass(form.colorBackground)">
        <div  class="menu-item" :style="{backgroundColor: form.colorPanel}"  :class="changeMenuGrayClass(form.colorPanel)">
          <div>
            <span  class="icon iconfont iconsearch"></span >搜索
          </div>
           <i class="el-icon-close" @click="form.navigation = 2"></i>
        </div>
        <div class="input-group" >
            <input type="text" class="form-control" placeholder="在此输入文本..." v-model="searchKey">
            <div class="input-group-addon" @click="search(1)"><span  class="icon iconfont iconsearch" ></span ></div>
        </div>
        <li class="search-list" >
            <p class="item" v-for="(item, index) in searchList" :key="index" @click="clickSearchItem(item)">
              第{{ item.pageNumber }}页：{{ item.text }}
            </p>
        </li>
        <li class="search-more" v-if="searchList.length < searchCount" @click="searchListShowMore">更多</li>
        <div @click="form.navigation = 2" class="nav-cancel" v-if="isMobile" :style="{backgroundColor: form.colorBackground}">取消</div>
    </ul>
    <div class="earch-box-small" v-else>
      <div v-if="!isMobile">
        <a class="earch-box-small-tip" :href="form.external" v-if="form.externalEnable">{{ form.externalText }}</a>
      </div>
        
    </div>

    <!-- 颜色选择器 -->
    <el-dialog title="SELECT COLORS" :visible.sync="dialogColor" width="450px">
      <div style="display: flex">
        <div >
            <div v-for="(item, index) in colors" style="display: flex; align-items: center; padding: 5px;margin-right: 10px;" :key="index" @click="initColorSelect(item.label, form[item.label], index)" :class="currentColorPicker == index ? 'color-picker-item-active' : ''"> 
              <span class="color-picker-item"  :style="{backgroundColor: form[item.label] }"></span>
              <span style="padding-left: 10px">{{ item.name }}</span>
            </div>
        </div>
        <div>
          <div id="color-picker"></div>
          <div id="color-render-box"></div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogColor = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogColor = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- skin皮肤选择器 -->
    <el-dialog title="选择皮肤" :visible.sync="dialogSkin" width="350px">
        <el-form v-if="form.background">
            <el-form-item label="Keep current background">
                <el-switch v-model="form.keepBackground"></el-switch>
            </el-form-item>
        </el-form>
        <div >
          <div style="display: inline-block; margin-bottom: 20px; margin-right: 20px" v-for="(item, index) in skins" :key="index" @click="clickSkinItem(item, index)" >
            <div :style="{backgroundColor: item.color}" style="height: 100px; width: 100px"></div>
            <p style="text-align: center;line-height: 20px;" ><span :class="index == form.skin ? 'skinTextChecked':''">{{ item.name }}</span></p>
          </div>
        </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogSkin = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogSkin = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- logo选择器 -->
    <el-dialog id="upload" title="编辑logo" :visible.sync="dialogLogo" width="350px">
        <div class="mb20 upload-img">
           <img :src="form.logo" style="max-height:50px;max-width:250px;width: auto;height: auto;">
            <el-popover placement="right" width="200" trigger="click">
              <div>
                 <p @click="logoSetting" class="el-popover_item">Back to Default</p>
                 <p @click="logoSetting" class="el-popover_item">Remove</p>
              </div>
              <i slot="reference" class="el-icon-s-tools" style="position: absolute; "></i>
            </el-popover>
        </div>
        <el-upload
          ref="uploadLogo"
          class="upload-demo"
          :http-request="uploadLogo"
          :show-file-list="false"
          action=""
          :auto-upload="true">
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
        <div style="padding: 20px;">
        <el-input v-model="logoInput" placeholder="https://your-website.com"></el-input>
        </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogLogo = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogLogo = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- button选择器 -->
    <el-dialog title="EDIT BUTTON" :visible.sync="dialogButton"
      width="350px">
        <el-form ref="form" :model="form" >
            <el-form-item label="Show Contacts Button">
                <el-switch v-model="form.externalEnable"></el-switch>
            </el-form-item>
            <el-form-item label="Button Text">
                <el-input v-model="form.externalText" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="Web Address(URL)">
                <el-input v-model="form.external" placeholder="https://your-website.com"></el-input>
            </el-form-item>
        </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogButton = false">CANCEL</el-button>
        <el-button type="primary" @click="mainSave">OK</el-button>
      </span>
    </el-dialog>

    <!-- favicon选择器 -->
    <el-dialog id="upload" title="EDIT FAVICON" :visible.sync="dialogFavicon" width="350px">
        <div class="mb20 upload-img">
            <img :src="form.favico"  >
            <el-popover
              placement="right"
              width="200"
              trigger="click">
              <div>
                 <p @click="faviconSetting">Back to Default</p>
                 <p @click="faviconSetting">Remove</p>
              </div>
              <i slot="reference" class="el-icon-s-tools" ></i>
            </el-popover>
        </div>
        <el-upload
          class="upload-demo"
          :http-request="uploadFavicon"
          :show-file-list="false"
          action="">
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
    
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFavicon = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogFavicon = false">OK</el-button>
      </span>
    </el-dialog>

    <!-- 下载选择器 -->
    <el-dialog title="下载出版物" :visible.sync="dialogDownload" width="350px">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont iconxiazai" ></span>
        <span class="title-text">下载出版物</span>
        <div class="button-right">
          <span class="title-close" @click="dialogDownload = false"></span>
        </div>
      </div>
      <div class="download">
          <div class="download-all">
            <img src="./css/pdf.webp" style="width: 50px; height: 50px;">
            <div class="desc">
                <p>全部出版物 37.8M</p> 
                <a download href="http://book.baige.me/download?bookId=2&page=">下载刊物为PDF文件</a> 
            </div>
          </div>
          <div class="download-current">
              <a download href="http://book.baige.me/download?bookId=2&page=1">当前页面(5.2M)</a> 
          </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <span @click="dialogDownload = false" v-if="isMobile">取消</span>
      </span>
    </el-dialog>

    <!--分享对话框 -->
    <el-dialog title="分享" :visible.sync="dialogShare" width="350px">
        <div slot="title" class="dialog-title">
          <span class="icon iconfont iconfenxiang2" ></span>
          <span class="title-text">分享</span>
          <div class="button-right">
            <span class="title-close" @click="dialogShare = false"></span>
          </div>
        </div>
      <div style="display: flex;">
        <div id="qrcode" style="padding-right: 10px"></div>
        <div >
          <el-input v-model="shareLink" ></el-input>
          <el-button type="primary"  @click="copy(share.link)" style="float: right; margin-top: 10px;">复制</el-button>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <span @click="dialogShare = false" v-if="isMobile">取消</span>
      </span>
    </el-dialog>


    <!--发送邮件对话框 -->
    <el-dialog title="邮件" :visible.sync="dialogEmail" width="350px">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont iconEMAIL" ></span>
        <span class="title-text">邮件</span>
        <div class="button-right">
          <span class="title-close" @click="dialogEmail = false"></span>
        </div>
      </div>
      <div style="display: flex;">
        <el-input  placeholder="发送至邮箱" v-model="inputEmail" style="margin-right: -5px"></el-input>
        <el-button type="primary"  @click="sendEmail" >确定</el-button>
      </div>
      <span slot="footer" class="dialog-footer">
        <span @click="dialogEmail = false" v-if="isMobile">取消</span>
      </span>
    </el-dialog>

    <!--声音对话框 -->
    <el-dialog title="声音" :visible.sync="dialogSound" width="350px">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont iconmute-off" ></span>
        <span class="title-text">声音</span>
        <div class="button-right">
          <span class="title-close" @click="dialogSound = false"></span>
        </div>
      </div>
      <div style="text-align: center;">
        <span class="icon iconfont iconmute-off" @click="audioControl" :style="{textDecoration: soundStatus}"></span>
      </div>
      <span slot="footer" class="dialog-footer">
        <span @click="dialogSound = false" v-if="isMobile">取消</span>
      </span>
    </el-dialog>
    
    <!-- 电话对话框 -->
    <el-dialog title="电话" :visible.sync="dialogContactTel" width="350px">
      <div slot="title" class="dialog-title">
        <span class="icon iconfont icontelphone" ></span>
        <span class="title-text">电话</span>
        <div class="button-right">
          <span class="title-close" @click="dialogContactTel = false"></span>
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <span class="icon iconfont icontelphone" ></span>:{{ form.contactTel }}
      </div>
      <span slot="footer" class="dialog-footer">
        <span @click="dialogContactTel = false" v-if="isMobile">取消</span>
        <!-- <el-button type="primary"  @click="dialogContactTel = false">确定</el-button> -->
      </span>
    </el-dialog>

    <!-- 背景选择器 -->
    <el-dialog id="upload" title="EDIT BACKGROUND" :visible.sync="dialogBackground" width="350px">
        <div  class="mb20 upload-img">
            <el-upload
              class="avatar-uploader"
              :http-request="uploadBackground"
              action=""
              :show-file-list="false">
              <img  :src="form.background" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload> 
            <el-popover
              placement="right"
              width="200"
              trigger="click">
              <div>
                 <p @click="backgroundSetting" class="el-popover_item">Back to Default</p>
                 <p @click="backgroundSetting" class="el-popover_item">Remove</p>
              </div>
              <i slot="reference" class="el-icon-s-tools" style="position: absolute; "></i>
            </el-popover>           
        </div>
        <div style="padding: 20px">
        <el-form label-width="140px" ref="form" :model="form">
          <el-form-item
            label="Image Placement"
          >
            <el-select v-model="form.backgroundPlace" placeholder="请选择">
            <el-option
              v-for="(item, index) in background.placement"
              :key="index"
              :label="item"
              :value="index">
            </el-option>
          </el-select>
          </el-form-item>
          <el-form-item
            label="Filling Form"
          >
            <el-popover
              placement="right"
              width="180"
              trigger="click">
              <div  class="rank">
                  <span class="rank-item" :class="item.checked ? 'rank-item-checked':''" v-for="(item, index) in rank" @click="clickRank(item)" :key="index">
                    <i :class="item.icon ? item.icon : ''"></i>
                  </span>
              </div>
              <!-- <el-select  v-model="form.background.filling" placeholder="请选择"> -->
              <el-input slot="reference" v-model="backgroundFill" ></el-input>
            </el-popover>
          </el-form-item>
        </el-form>          
        </div>


      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogBackground = false">CANCEL</el-button>
        <el-button type="primary" @click="dialogBackground = false">OK</el-button>
      </span>
    </el-dialog>

</div>
</body>
<script type="text/javascript">

// 双向数据绑定
var app = new Vue({
  el: '#app',
  data: {
    chatDom: false, // 在线客服的dom是否存在
    currentColorPicker: 0, // 默认当前激活的是第一个
    logoInput: '',// 输入logo的链接
    soundStatus: 'none', 
    bookPageNum: 0, // book的总页数
    showHiddenMenu: false, // 隐藏的菜单
    currentCollapse: '', // 当前展开的菜单
    showPassWordBox: false, // 显示密码框遮盖
    inputPassword: '', // 输入验证的密码
    inputEmail: '', // 输入发送的邮件地址
    currentScreen: '', // 当前屏幕状态
    qrcodeInstance: null, // 二维码实例
    shareLink: '', // 分享的链接
    searchKey: '', // 搜索用关键词
    myList: [],
    visible: false,
    catalog: [],
    rank: [
      {icon: 'el-icon-top-left', checked: false, label: '左上'},
      {icon: 'el-icon-top', checked: false, label: '上'},
      {icon: 'el-icon-top-right', checked: false, label: '右上'},
      {icon: 'el-icon-back', checked: false, label: '左'},
      {icon: 'el-icon-rank', checked: false, label: '中心'},
      {icon: 'el-icon-right', checked: false, label: '右'},
      {icon: 'el-icon-bottom-left', checked: false, label: '左下'},
      {icon: 'el-icon-bottom', checked: false, label: '下'},
      {icon: 'el-icon-bottom-right', checked: false, label: '右下'}
    ],
    skins: {
      gray: {name: '灰白色', color: '#EFEFEF', checked: false},
      deepGray: {name: '深灰色', color: '#333333', checked: false}
    },
    colors: [
      {label:'colorBackground', name: '面板颜色'},
      {label:'colorPanel', name: '背景颜色'},
      {label:'colorLink', name: '链接颜色'},
    ],
    navigationArr: [
      {index: 0, value: '目录', checked: false, hidden: false},
      {index: 1, value: '缩略图', checked: false, hidden: false},
      {index: 2, value: '无', checked: false, hidden: false},
      {index: 3, value: '搜索', checked: false, hidden: false}
    ],
    showMenu: true,
    fileList: [],
    searchKey: '',
    searchDialog: false,
    setPassWord: false,
    setPhone: false,
    setStaff: false,
    setEmail: false,
    dialogSkin: false,
    dialogLogo: false,
    dialogBackground: false,
    dialogFavicon: false,
    dialogButton: false,
    dialogShare: false,
    dialogDownload: false,
    dialogEmail: false,
    dialogColor: false,
    dialogContactTel: false,
    dialogSound: false,
    saveBtn: '保存',
    color: '#EEE',
    
    form: {
      "bookId": 1,
      "main": true,
      "background": "1",
      backgroundFill: 1,
      "backgroundPlace": 1,
      colorPanel: '#EEE',
      colorBackground: '#EEE',
      colorLink: '#EEE',
      "external": "1",
      "externalText": "1",
      "externalEnable": false,
      keepBackground: false,
      bookTable: false,
      download: false,
      share: false,
      sound: false,
      search: false,
      navigation: 0,
      zoom: false,
      thumbnail: false,
      textSelect: false,
      fullScreen: false,
      userId: 1,
      title: '',
      description: '',
      placement: 'fill',
      logo: '',
      favico: '',
      chatEnable: false,
      chat: '',
      contactTel: '',
      contactEnable: false,
      emailEnable: false,
      emailWelcome: "1",
      emailPort: 1,
      emailServer: "1",
      emailUsername: "1",
      emailPassword: "1",
      emailSign: "1",
      password: '',
      passwordEnable: false,
      skin: 'gray',
    },
    background: {
      url:'',
      placement:['自适应','填充','堆叠'],
      filling: '中心'
    },
    share: {
      link: 'baidu.com',
      qrcode: 'https://efile.kaoyan.com/img/2020/05/25/193611_5ecbadab863ec.png'
    },
    button: {
      delivery: '',
      text: '',
      address: ''
    },
    info: [
      {label: 'name', value: ''},
      {label: 'desc', value: ''},
    ],
    staff: [
      {label: '在线客服', value: ''},
    ],
    phone: [
      {label: '号码', value: ''},
    ],
    email: [
      {label: '服务器', value: 'emailServer'},
      {label: '端口', value: 'emailPort'},
      {label: '密码', value: 'emailPassword'},
      {label: '账户', value: 'emailUsername'},
      {label: '欢迎词', value: 'emailWelcome'},
      {label: '签名', value: 'emailSign'}
    ],
    message: 'Hello Vue!',
    controls: [
      {'group':1,'label': 'share', 'title': '分享', 'icon': 'iconfenxiang2', 'checked': false},
      {'group':1,'label': 'download','title': '下载', 'icon': 'iconxiazai', 'checked': false},
      // {'group':1,'label': 'textSelect','title': 'Text Selection', 'icon': 'icontext_tool', 'checked': false},
      {'group':1,'label': 'thumbnail','title': '缩略图', 'icon': 'iconview-thumbs', 'checked': false},
      {'group':1,'label': 'bookTable','title': '目录', 'icon': 'iconcatalog', 'checked': false, 'bottomLine': true},
      {'group':2,'label': 'sound','title': '声音', 'icon': 'iconmute-off', 'checked': false},
      {'group':2,'label': 'fullScreen','title': '全屏', 'icon': 'iconfull-screen', 'checked': false},
      // {'group':2,'label': 'zoom','title': '放大镜', 'icon': 'iconzoom-in', 'checked': false},
      {'group':2,'label': 'search','title': '搜索', 'icon': 'iconsearch', 'checked': false, 'bottomLine': true},
      {'group':3,'label': 'contactEnable','title': '电话', 'icon': 'icontelphone', 'checked': false, hidden: true},
      {'group':4,'label': 'chatEnable','title': '在线客服', 'icon': 'iconchat', 'checked': false, hidden: true, hiddenBottom: true},
      {'group':5,'label': 'emailEnable','title': '邮件', 'icon': 'iconEMAIL', 'checked': false, hidden: true}
    ],
    treeData: [{
      label: '一级 1',
      children: [{
        label: '二级 1-1',
        children: [{
          label: '三级 1-1-1'
        }]
      }]
    }, {
      label: '一级 2',
      children: [{
        label: '二级 2-1',
        children: [{
          label: '三级 2-1-1'
        }]
      }, {
        label: '二级 2-2',
        children: [{
          label: '三级 2-2-1'
        }]
      }]
    }, {
      label: '一级 3',
      children: [{
        label: '二级 3-1',
        children: [{
          label: '三级 3-1-1'
        }]
      }, {
        label: '二级 3-2',
        children: [{
          label: '三级 3-2-1'
        }]
      }]
    }],
    searchList: [],
    searchCount: 0,
    searchCurrentPage: 1
  },
  computed: {
    backgroundRepeat () {
      if (this.form.backgroundPlace == 2) {
        return 'repeat'
      } else {
        return 'no-repeat'
      }
    },
    backgroundSize() {
      let backgroundSize = ['cover', 'contain', 'auto auto']
      return backgroundSize[this.form.backgroundPlace]
    }, 
    // https://www.w3school.com.cn/cssref/pr_background-position.asp
    position() {
      let position = [
          'top left',
          'top center',
          'top right',
          'center left',
          'center center',
          'center right',
          'bottom left',
          'bottom center',
          'bottom right'
      ]
      return position[this.form.backgroundFill]
    },
    // 判断是什么设备
    isMobile() {
      let flag = navigator.userAgent.match(/(phone|pod|iPhone|iPod|ios|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
      return flag;
    },
    // 判断是不是ipad
    isPad() {
      let flag = navigator.userAgent.match(/(pad|iPad)/i)
      return falg
    },
    backgroundFill: {
      get: function () {
        return this.rank[this.form.backgroundFill].label
      },
      set: function (value) {
        this.form.backgroundFill = value
      }
    },  
    icons: function () {
      // 把form和controls关联
      this.controls = this.controls.map(item => {
        item.checked = this.form[item.label]
        return item
      })

      // 过滤被选中的control
      let arr = this.controls.filter(item => item.checked )
      arr.map((item, index) => {
        if (index < arr.length-1 ) {
            if (item.group != arr[index + 1].group) {
              item.rightLine = true   
            } else {
              item.rightLine = false 
            } 
        }
        return item
      })

      // 手机端不显示全屏按钮
      if (this.isMobile) {
        arr = arr.filter(item => item.label != 'fullScreen')
      }
    
      // 最有一个icon的右侧不能有分隔符号
      if (arr.length > 0) {
        arr[arr.length-1].rightLine = false
      }
      return arr
    }
  },  
  watch: {
      // controls: {
      //   handler: function(val, oldval) {
      //     console.log(val)
      //   }
      // },
      form:{
        handler:function(val,oldval){
          this.saveBtn = '保存'
          if (val.search) {
            this.navigationArr = this.navigationArr.map(item => {
              if (item.value == '搜索') {
                item.hidden = false
              }
              return item
            })
          } else {
            this.navigationArr = this.navigationArr.map(item => {
              if (item.value == '搜索') {
                item.hidden = true
              }
              return item
            })            
          }
        },
        deep:true//对象内部的属性监听，也叫深度监听
      },
  },  
  mounted() {   
     this.bookPageNum = document.getElementById('bookPageNum').value
     this.form.bookId = document.getElementById('bookId').value
     let data = {bookId:  this.form.bookId }
     axios.get('http://m.baige.me/api/getFlipbook', {
      params: data
     }).then(res => {
      Object.assign(this.form, res.data)
      this.changeTitle(res.data.title)
     })
     
     axios.get('http://m.baige.me/api/book/getMainSetting', {
       params: data
     }).then(res => { 
      if (res.data.skin == '0') {
        res.data.skin = 'gray'
      }  
      // res.data.skin = parseInt(res.data.skin)
      Object.assign(this.form, res.data)
      this.initThumbnail()
      if (res.data.chatEnable) {
        this.clickStaff()
      }
      this.setIcon(res.data.favico);
      //更新basic.js中的 updateOrientation();
    
     })  
     
     
     this.getCatalog()
//     this.initBook()
  },

  methods: {
    // 初始化目录
    getCatalog () {
     axios.get('http://m.baige.me/api/getCatalog', {
      params: {bookId: this.form.bookId, parent: 0}
     }).then(res => {
       this.buildCatalog(res.data)
     })
    },
    
    // 先把第一级的目录拿出来
    buildCatalog(data) {
      let sub = []
      for (var i = 0; i < data.length; i++) {
        if (data[i].level == 1) {
          let item = {
            label: data[i].sort + ':' +data[i].name,
            sort: data[i].sort
          }
          this.catalog.push(item)
        } else {
          sub.push(data[i])
        }
      }
      for (var j = 0; j < sub.length; j++) {
        this.catalog = this.buildSubCatalog(JSON.parse(JSON.stringify(this.catalog)) , sub[j])
      }
    },
    buildSubCatalog(arr, obj) {
      let newArr = arr.map(item => {
        if (item.sort == obj.parent) {
          if (item.children) {
            item.children.push({
              label: obj.name,
              sort: obj.sort,
              parent: obj.parent
            })
          } else {
            item.children = [{
              label: obj.name,
              sort: obj.sort,
              parent: obj.parent
            }]
          }
          return item
        } else {
          if (item.children) {
            item.children = this.buildSubCatalog(item.children, obj)
            return item
          } else {
            return item
          }
        }
      })
      return newArr
    },

    // 动态控制背景图
    setMainBackground() {
      if (!this.form.keepBackground) {
        this.form.background = ''
      }
    },
    // 初始化缩略图
    // 缩略图的路径拼接规则
    initThumbnail() {
      let uploadId = document.getElementById('uploadId').value
      let bookPageNum = document.getElementById('bookPageNum').value
      for (var i = 1; i <= bookPageNum; i++) {
        this.myList.push(`https://book-upload-1251142715.cos.ap-shanghai.myqcloud.com/${uploadId}/${i}.jpg`
        )
      } 
    },
    getUrlParam: function(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]);
        return '';
    },
    handleLogoChange (file) {
        const formData = new FormData()
        this.formData.file = file.raw
        this.formData.name = file.name
        // upload(formData) //调用上传方法,传递FormData格式的参数
        this.fileChange = false      
    },
    uploadBackground(files) {
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('http://m.baige.me/api/book/saveSettingImage', formData).then(res => {
          console.log(res)
          this.form.background = res.data
        })      
    },
    uploadFavicon(files) {
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('http://m.baige.me/api/book/saveSettingImage', formData).then(res => {
          this.setIcon(res.data)
          this.form.favico = res.data
        })
    },
    setIcon(icon_url) {
      var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = icon_url;
      document.getElementsByTagName('head')[0].appendChild(link);
    },
    uploadLogo (files) {
      console.log(files)
        let formData = new FormData()
        formData.append('file', files.file)
        axios.post('http://m.baige.me/api/book/saveSettingImage', formData).then(res => {
          this.form.logo = res.data
        })
    },
    handleLogoSuccess (res, file) {
      console.log(res)
    },
    handleNodeClick (item) {
      console.log(item)
      this.$message({
        message: `你点击了目录：${item.label}`,
        type: 'success'
      }); 
    },
    toggleMenu () {
      this.menu.toggleMenu = !this.menu.toggleMenu
    },
    copy () {
        this.$message({
          message: '复制成功',
          type: 'success'
        }); 
    },
    clickRank (item) {
      this.rank = this.rank.map((i, index) => {
        if (i.icon == item.icon) {
            i.checked = true
            this.form.backgroundFill = index
        } else {
            i.checked = false
        }
        return i
      })
    },
    logoSetting () {
      this.form.logo = ''
    },
    backgroundSetting() {
      this.form.background = ''
    },
    navigationSetting (obj) {
      this.navigationArr = this.navigationArr.map(item => {
         if (item.value == obj.value) {
            item.checked = true
            this.form.navigation = item.index
         } else {
            item.checked = false
         }
         return item
      })
    },
    faviconSetting () {
        this.form.favico = ''
        console.log(this.form.favico)
    },
    handleRemove(file, fileList) {
        console.log(file, fileList);
    },
    handlePreview(file) {
        console.log(file);
    },

    clickSkinItem (item, key) {
      this.form.skin = key
    },
    clickSelectSkin () {
        this.dialogSkin = true
    },
    handleLogoDialog () {
        this.dialogLogo = !this.dialogLogo
    },
    clickIcon (item) {
        console.log(item)
        if (item.title == '下载') {
            this.dialogDownload = true              
        } else if (item.title == '分享') {
          this.dialogShare = true
          this.$nextTick(() => {
            this.qrcode()
          })
        } else if (item.title == '缩略图') {
          if (this.form.navigation == 1) {
            this.form.navigation = 2
          } else {
            this.form.navigation = 1
          }
        } else if (item.title == '目录') {
          if (this.form.navigation == 0) {
            this.form.navigation = 2
          } else {
            this.form.navigation = 0
          }
        } else if (item.title == '声音') {
          if (this.isMobile) {
            this.dialogSound = true
          } else {
            this.audioControl()
          }
        } else if (item.title == '全屏') {
          this.sceenControl()
        } else if (item.title == '搜索') {
          if (this.form.navigation == 3) {
            this.form.navigation = 2
          } else {
            this.form.navigation = 3
          }
        } else if (item.title == '在线客服') {
          this.clickStaff()
        } else if (item.title == '电话') {
            this.dialogContactTel = true
        } else if (item.title == '邮件') {
            this.dialogEmail = true
        } else{
            this.$alert(`你点击了${item.title}按钮`, '提示', {
              confirmButtonText: '确定'
            });
        }
    },
    qrcode() {
      let text = document.getElementById("shareLink").value
      this.shareLink = text
      if (this.qrcodeInstance) {
        return false
      } else {
        this.qrcodeInstance = new QRCode(document.getElementById("qrcode"), {
          text: text,
          width: 128,
          height: 128,
          colorDark : "#000000",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.H
        });
      }
    },
    setIconClass (item) {
      if (item.rightLine) {
        return 'right-line ' + item.icon
      } else {
        return item.icon
      }
    },

    // 保存修改
    mainSave () {
      if (this.form.title.length == 0 ) {
        this.$message({
          type: 'warning',
          message: '标题不能为空'
        });    
        return false    
      }

      if (this.form.title.length >128 ) {
        this.$message({
          type: 'warning',
          message: '标题长度不成超过128'
        });    
        return false    
      }

      if (this.form.description.length == 0 ) {
        this.$message({
          type: 'warning',
          message: '描述不能为空'
        });    
        return false    
      }

      if (this.form.description.length > 255) {
        this.$message({
          type: 'warning',
          message: '描述长度不成超过255'
        }); 
        return false        
      } 


      if (this.form.emailWelcome.length > 255 || this.form.emailWelcome.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailWelcome不能为空且不能长度不能大于255'
        }); 
        return false        
      } 

      if (this.form.emailUsername.length > 50 || this.form.emailUsername.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailWelcome不能为空且不能长度不能大于50'
        }); 
        return false        
      } 

      if (this.form.emailPassword.length > 50 || this.form.emailPassword.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailPassword不能为空且不能长度不能大于50'
        }); 
        return false        
      } 

      if (this.form.emailServer.length > 50 || this.form.emailServer.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailServer不能为空且不能长度不能大于50'
        }); 
        return false        
      } 

      if (this.form.emailPort.length > 11 || this.form.emailPort.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailPort不能为空且不能长度不能大于11'
        }); 
        return false        
      } 

      if (this.form.emailSign.length > 255 || this.form.emailSign.length == 0) {
        this.$message({
          type: 'warning',
          message: 'emailSign不能为空且不能长度不能大于255'
        }); 
        return false        
      } 

      axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
      axios.post('http://m.baige.me/api/book/saveSetting', Qs.stringify(this.form)).then(res => {
      // api.saveSetting(Qs.stringify(this.form)).then(res => {
        console.log(res)
        this.saveBtn = '已保存'
        this.dialogLogo = false
        this.dialogFavicon = false
        this.dialogBackground = false
        this.dialogButton = false
        this.dialogBackground = false 
      }).catch((error) => {
        this.$message({
          type: 'error',
          message: error
        });
      });  
    },
    goBack () {
      if (this.saveBtn == '保存') {
        this.$confirm('你的修改不会被保存, 是否继续?', '提示', {
          confirmButtonText: '继续',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          window.history.back(-1); 
        }).catch(() => {         
        });
      } else {
        
      }
      
    },
    beforeunloadHandler(e) {
      e = e || window.event;
      if (e) {
        e.returnValue = "您是否确认离开此页面-您输入的数据可能不会被保存";
      }
      return "您是否确认离开此页面-您输入的数据可能不会被保存";
    },
    clickTopButton (item) {
        console.log(item)
        this.$message({
          message: '你点击了' + item.title + '按钮',
          type: 'info'
        });             
    },

    download (src, fileName) {
      let x = new XMLHttpRequest();
      x.open("GET", src, true);
      x.responseType = 'blob';
      x.onload = function(e) {
        let url = window.URL.createObjectURL(x.response)
        let a = document.createElement('a');
        a.href = url
        a.download = fileName
        a.click()
      }
      x.send();
    },
    // 搜索
    search (page) {
      if (page == 1) {
        this.searchList = []
      }
      if (this.searchKey) {
        let data = {
          bookId: this.form.bookId, 
          page: page,
          kw: this.searchKey
        }
       axios.get('http://m.baige.me/api/query', {
        params: data
       }).then(res => {
        console.log(res)
         let json = JSON.parse(res.data.bookPages)
         console.log(json)
         this.searchList = this.searchList.concat(json)
         this.searchCount = res.data.count
         this.searchCurrentPage = res.data.currentPage
       })
      } else {
          this.$message({
            message: '搜索内容不能为空',
            type: 'warning'
          });
      }
    },
    // 点击搜索结果
    clickSearchItem(item) {
      console.log(item)
    },
    searchListShowMore () {
      this.search(this.searchCurrentPage + 1)
    },
    clickThumItem(item, index) {
      this.$message({
        message: `点击了${index + 1}页`,
        type: 'info'
      });      
    },
    toggleSearch() {
      console.log(this.form.navigation)
      this.form.navigation = 3
    },
    audioControl() {
     var audio = document.getElementById('myAudio');
      if(audio.paused) { 
        this.soundStatus = 'none'                
        audio.play(); //audio.play();// 这个就是播放  
      }else{
        this.soundStatus = 'line-through'   
        audio.pause(); // 这个就是暂停
      }
    },
    sceenControl() {
      let element = document.documentElement
      if (this.currentScreen == 'full') {
        if(document.exitFullscreen) {
          document.exitFullscreen()
        } else if(document.mozCancelFullScreen) {
          document.mozCancelFullScreen()
        } else if(document.webkitExitFullscreen) {
          document.webkitExitFullscreen()
        }
        this.currentScreen = ''
      } else {
        if(element.requestFullscreen) {
          element.requestFullscreen()
        } else if(element.mozRequestFullScreen) {
          element.mozRequestFullScreen()
        } else if(element.webkitRequestFullscreen) {
          element.webkitRequestFullscreen()
        } else if(element.msRequestFullscreen) {
          element.msRequestFullscreen();
        }  
        this.currentScreen = 'full' 
      }   
    },
    clickStaff() {
      this.chatDom = true
      var code = $('#tawk').val();
      //console.log(" widget ...."+wdiget);
      if (code!='') {
       //console.log("display widget ....");
       var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
       (function() {
        var s1 = document.createElement("script")
        var s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src =  code;
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
       })();
      }
    },
    // 隐藏在线客服
    removeChat() {
      var ifr=document.getElementsByTagName('iframe');
      let obj = ifr[0].parentNode
      obj.style.display = 'none'
    },
    // 发送邮件
    sendEmail() {
      let data = {
        'bookId': 2,
        'userId': '',
        'email': this.inputEmail
      }
      if (!this.inputEmail) {
        this.$message({
          message: `邮箱不合法`,
          type: 'error'
        });          
        return false
      }
      axios.post('/api/email', Qs.stringify(data)).then(res => {
        console.log(res)
        this.$message({
          message: res,
          type: 'success'
        }); 
      }).catch(res => {
        this.$message({
          message: res,
          type: 'error'
        });         
      })
      this.dialogEmail = false
    },
    clickControlCollapse(activeNames) {
      console.log(activeNames)
      this.currentCollapse = activeNames
    },
    toggleHiddenMenu() {
      console.log(".toogle...");
      this.showHiddenMenu =  !this.showHiddenMenu
      // this.$nextTick(() => {
      //   document.addEventListener('mousedown',(e) =>{
      //     var _con = document.getElementById('setDefault')
      //     if(_con) {
      //       if(!_con.contains(e.target)) {
      //          this.showHiddenMenu = false
      //       } 
      //     }
      //   })
      // })  

    },

    toggleSkinClass(skin){
      return 'skin' + skin
    },
    dialogLogoSave () {
      this.form.logo = this.logoInput
      this.dialogLogo = false
    },
    initColorSelect(label, color, index) {
      console.log(label, color)
      this.currentColorPicker = index
      this.dialogColor = true
      this.$nextTick( () => {
        new Colorpicker({
            el: "color-picker",
            color: color,
            change: (elem, hex) => {
                console.log(hex)
                this.form[label] = hex
                //document.getElementById("color-picker").value=hex;
            }
        })        
      })

    },
    // 切换在线客服按钮
    toggleChat() {
      if (this.form.chatEnable) {
        this.removeChat()
      } else {
        if (this.chatDom) {
          var ifr=document.getElementsByTagName('iframe');
          let obj = ifr[0].parentNode
          obj.style.setProperty("display","block","important");       
        } else {
          this.$nextTick( () => {
            this.clickStaff()        
          })
        }
      }
    },
    // 计算灰度，动态修改样式
    changeMenuGrayClass(color) {
      let rgb = color.replace(/#/g,'')
      if (rgb.length != 6) {
        return ''
      } else {
        let r = parseInt(rgb.substring(0,2),16) 
        let g = parseInt(rgb.substring(2,4),16)
        let b = parseInt(rgb.substring(4),16)
        // console.log(r,g,b)
        let gray = r*0.299 + g*0.587 + b*0.114
        if (gray < 128) {
          return 'color-white'
        } else {
          return 'class-black'
        }
      }
    },
    // 16进制颜色计算灰度
    getGray(color) {
      if (!color) {
        return 0
      }
      let rgb = color.replace(/#/g,'')
      if (rgb.length != 6) {
        return 0
      } else {
        let r = parseInt(rgb.substring(0,2),16) 
        let g = parseInt(rgb.substring(2,4),16)
        let b = parseInt(rgb.substring(4),16)
        // console.log(r,g,b)
        return r*0.299 + g*0.587 + b*0.114
      }      
    },
    changeBackGroundGrayClass (color) {
      let mobile = ''
      if (this.isMobile) {
        mobile = 'nav-mobile'
      } else {
        mobile = 'nav'
      }
      let gray = this.getGray(color)
      if (gray < 128) {
        return mobile + ' color-white'
      } else {
        return mobile + ' color-black'
      }
    },
    sendPassword() {

    },
    // 更改网页的title
    changeTitle(title) {
      console.log('change title')
      document.title = title
    }
    
    
    // 
//    initBook () {
//      $("#flipbook").turn({
//        width: 400,
//        height: 300,
//        autoCenter: true
//      }); 
//    },
  }
})
</script>
<script type="text/javascript">

</script>
</html>